*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
    color:#452f93;

}

header{
    background-color: #bfadff;
}

h1{
    font-family:'Montserrat',sans-serif;
}

h3{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 10%;
    height: 5%;
}


.navbar{
    /* background-color:yellow; */
    display: flex;
    justify-content: space-evenly;
    width:50%;
}
.nav-items a{
    transition: 0.5s;   
}

.nav-items a:hover{
    font-size: 1.25rem;
    transition: 0.5s;   
}

.header-intro{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 1%;
}